* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#sky {
  background-color: rgb(100, 180, 255);
  width: 100%;
  height: 75dvh;
  position: relative;
}

#gram {
  width: 100%;
  height: 1dvh;
  background-color: rgb(46, 124, 0);
}

#earth {
  background-color: rgb(80, 31, 12);
  width: 100%;
  height: 24dvh;
}

/**** PERSONAGEM ****/

/* Posição */

#character {
  position: absolute;
  bottom: 0%;
  left: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeça */

#character_header {
  background-color: rgb(219, 157, 107);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* Esconde tudo o que passar do tamanho (largura/altura) */
  overflow: hidden;
  border: 1px solid black;
  border-top: none;
}

/* Cabelo */

#hair {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 16px;
}

/* Olho */

#eye {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

/* Olho direito e esquerdo */

.eyes {
  background-color: rgb(252, 251, 251);
  border: 0.5px solid black;
  overflow: hidden;
  width: 20%;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.pupila {
  background-color: rgb(21, 58, 0);
  width: 4px;
  height: 4px;
}

/* Boca */

#area_mouth {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mouth {
  background-color: black;
  width: 13px;
  height: 4px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* Torso */

#character_torso {
  background-color: rgb(47, 129, 0);
  height: 50px;
  grid-template-columns: 25px 50px 25px;
  display: grid;
}

#torax {
  border-bottom: none;
}

#left_arm {
  border-right: 1px solid black;
}

#rigth_arm {
  border-left: 1px solid black;
}

/* Pernas */

#character_legs {
  background-color: rgb(151, 149, 149);
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
}

#legs_left {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}

#legs_right {
  width: 100%;
  height: 100%;
}
